<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
        *{
            margin: 0 auto;
            box-sizing: border-box;
            padding: 0;
        }
        body{
            width: 100vw;
            height: 100vh;
            display: grid;
            place-items: center;
        }
    </style>
    <link rel="stylesheet" href="../CSS/button.css">
</head>
<body>
    <div class="button">
        <div class="icon">
            <svg xmlns="http://www.w3.org/2000/svg"  fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"/>
                <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z"/>
            </svg>
        </div>
        <div class="separator"></div>
        <div class="textBox">
            <p class="textContent">Downloads</p>
        </div>
    </div>
</body>
</html>