body{
    --texto: black;
    --texto-destacado: white;
    --texto-azul: var(--azul-escuro);
    --textinho: #252521;
    --fundo: #ffffff;
    --fundo-destaque: #faf5f5;
    --cinza: #E7ECEF;
    --azul-escuro: #013B84;
    --azul: #6096BA;
    --azul-cinza: #4F6082;
    --azul-claro: #A3CEF1;
}

body.dark{
    --texto: rgb(255, 255, 255);
    --texto-destacado: white;
    --texto-azul: var(--azul-escuro);
    --textinho: #bbbbbb;
    --fundo: #000000;
    --fundo-destaque: #141414;
    --cinza: #5a5a5a;
    --azul-escuro: #6096BA;
    --azul: #002A5E;
    --azul-cinza: #4F6082;
    --azul-claro: #013B84;
}











