body {
  min-height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.conteiner-cadastro {
  height: 100%;
  margin: 0;
  padding-top: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url('src/ui/assets/gradiente.png') no-repeat center center fixed;
  background-size: cover;
}

.conteiner-cadastro.dark {
  background: url('src/ui/assets/fundoTemaEscuro.png') no-repeat center center fixed;
  background-size: cover;
}

#cadastro-root {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: auto;
  background: var(--fundo);
  border-radius: 60px;
}

#logo-cadastro {
  width: 18%;
  margin-top: 1vw;
}

#cadastro-titulo {
  font-size: 1.5vw;
  color: var(--azul-escuro);
  margin-bottom: 1rem;
  font-family: 'Nunito Sans', 'Roboto', Arial, sans-serif;
  font-weight: 400;
}

#cadastro-desc {
  background: var(--fundo);
  color: var(--azul-escuro);
  border-radius: 20px;
  padding: 1vw;
  font-size: 1vw;
  width: 40%;
  text-align: center;
}

#cadastro-form {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cadastro-row {
  display: flex;
  justify-content: center;
  gap: 3vw;
  width: 100%;
}

.cadastro-col {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 0.7vw;
  align-items: start;
}

.textinho {
  font-size: 1vw;
  color: var(--cinza);
  margin: 1%;
}

.cadastro-input {
  padding: 0.5rem;
  font-size: 1vw;
  border: none;
  border-radius: 2px;
  margin-bottom: 0.7vw;
  width: 100%;
  box-sizing: border-box;
  height: 2.5vw;
}

.cadastro-col > .cadastro-input {
  border: 1px solid var(--textinho);
}

.cadastro-input-group {
  display: flex;
  align-items: center;
  position: relative;
  border: 1px solid var(--textinho);
  height: 2.5vw;
  margin-bottom: 0.7vw;
  width: 100%;
}

.cadastro-input-group .cadastro-input {
  height: 100%;
  margin-bottom: 0;
}

.cadastro-eye {
  background: none;
  border: none;
  padding: 0;
  margin-right: 0.5vw;
  border-radius: 50%;
  width: 2vw;
  height: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#cadastro-btn {
  margin-bottom: 1.5rem;
  padding: 0.7vw 2vw;
  background: var(--fundo);
  color: var(--azul-escuro);
  border: 1px solid var(--azul-escuro);
  border-radius: 35px;
  font-size: 1vw;
  cursor: pointer;
  transition: background 0.2s, color 0.2s;
}

#cadastro-btn:hover {
  background: var(--azul-escuro);
  color: var(--fundo);
}
#cadastro-btn {
  margin-top: 2vw;
  padding: 0.7vw 2vw;
  background: var(--fundo);
  color: var(--azul-escuro);
  border: 1px solid var(--azul-escuro);
  border-radius: 35px;
  font-size: 1.3vw;
  cursor: pointer;
  transition: background 0.2s, color 0.2s;
}

#cadastro-btn:hover {
  background: var(--azul-escuro);
  color: var(texto-destacado);
}