/* Conteúdo central */
.conteudoEmprestimos {
    margin-left: 260px;
    width: calc(100vw - 260px);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    border-radius: 1.5vw;
    background: transparent;
}

/* Título */
.conteudoEmprestimos h2,
.emprestimos-titulo {
    color: var(--azul-escuro);
    font-weight: 600;
    margin: 2vw 0 2vw 4vw;
    font-size: 2vw;
    align-self: center;
}

/* Filtros */
.filtros-emprestimo {
    display: flex;
    gap: 1vw;
    margin-bottom: 2vw;
    justify-content: center;
    width: 100%;
}

.filtros-emprestimo button {
    background: var(--fundo-destaque);
    color: var(--azul-escuro);
    border: none;
    border-radius: 2vw;
    padding: 0.7vw 2vw;
    font-weight: 600;
    font-size: 1vw;
    box-shadow: 0 2px 8px rgba(0,0,0,0.04);
    cursor: pointer;
    transition: background 0.2s, color 0.2s;
}

.filtros-emprestimo button.active {
    background: var(--azul-escuro);
    color: var(--fundo-destaque)    ;
}

/* Tabela */
.tabela-emprestimo-container {
    width: 90%;
    background: var(--fundo-destaque);
    border-radius: 1vw;
    box-shadow: 0 2px 8px rgba(0,0,0,0.07);
    margin: 1vw;
    overflow-x: auto;
    color: var(--texto);
}

.tabela-emprestimo {
    width: 100%;
    border-collapse: collapse;
    font-size: 1vw;
}

.tabela-emprestimo th {
    color: var(--azul-escuro);
    font-weight: 600;
    text-align: left;
    padding: 0.5vw;
    background: transparent;
}

.tabela-emprestimo td {
    padding: 0.5vw;
    border-bottom: 1px solid var(--cinza);
    vertical-align: middle;
}

.tabela-emprestimo tr:last-child td {
    border-bottom: none;
}

.tabela-emprestimo td.status-renovado {
    color: #F9A825;
    font-weight: 600;
}

.tabela-emprestimo td.status-atrasado {
    color: #E53935;
    font-weight: 600;
}

.tabela-emprestimo td.status-emprestado {
    color: #F9A825;
    font-weight: 600;
}

.tabela-emprestimo td:last-child {
    text-align: center;
    font-size: 1.5vw;
    cursor: pointer;
}



.fab-btn:hover {
    background: #063366;
}

/* Responsividade */
@media (max-width: 900px) {
    .conteudoEmprestimos {
        padding: 2vw 0.5vw;
    }
    .tabela-emprestimo-container {
        padding: 1vw;
    }
    .tabela-emprestimo th, .tabela-emprestimo td {
        font-size: 1.5vw;
        padding: 1vw 0.5vw;
    }
}