nav{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1vw;
}

#base-menu {
    display: flex;
    height: '100%';
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.div-btn {
 width: 90%;
}


.menu {
    min-width: 200px; /* opcional: garante largura mínima */
    max-width: 260px; /* opcional: limita largura máxima */
    height: 100vh;
    min-height: 100vh;
    border-radius: 1.4vw;
    align-items: center;
    display: flex;
    flex-direction: column;
    background: var(--fundo-destaque);
}

.tema-btn {
  display: flex;
    align-items: center;
    background: none;
    border: none;
    border-radius: 1.4vw;
    font-size: 0.7vw;
    color: var(--azul-escuro);
    cursor: pointer;
    transition: background 0.2s;
    font-family: inherit;
    position: relative;
    width: 90%;
    border: solid var(--texto) 1.5px;
    margin-bottom: 1vw;
    align-self: center;
}

.tema-btn:hover{
    background: var(--cinza);
}

.tema-btn span {
    background-color: var(--texto);
    width: 1.3px;
    height: 100%;
}

.tema-btn p {
    margin-left: 1vw;
    margin-right: 1vw;
}

.menu-btn {
    display: flex;
    align-items: center;
    gap: 1vw;
    background: none;
    border: none;
    padding: 0.7vw;
    border-radius: 1.4vw;
    font-size: 1.25vw;
    color: var(--azul-escuro);
    cursor: pointer;
    transition: background 0.2s;
    font-family: inherit;
    position: relative;
    width: 100%;
    height: 3vw;
    
}

.menu-btn .chevron {
    margin-left: auto;
}

.menu-btn.active {
    background: var(--azul-escuro);
    color: var(--fundo);
}

.menu-btn.active svg {
    color: var(--fundo);
}

.menu-btn:hover:not(.active) {
    background: var(--cinza);
}

.submenu {
    width: 80%;
    background: var(--fundo--destaque);
    border-radius: 1vw;
    display: flex;
    flex-direction: column;
    gap: 0.2vw;
    padding: 0.5vw 0.5vw 0.5vw 1.5vw;
}

.submenu-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: none;
    border: none;
    color: var(--azul-escuro);
    font-size: 1vw;
    border-radius: 0.7vw;
    cursor: pointer;
    width: 100%;
    margin-left: 0.2vw;
    gap: 0.5vw;
}

.submenu-btn.active,
.submenu-btn:hover {
    background: var(--cinza);
    color: var(--azul-escuro);
}